extends ../layout

block content

  .container-fluid
    .row
      .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1.sidebar
        
        ul.nav.nav-sidebar
          if i18n
            each val, index in i18n
              li
                a(href='./'+val.uri)=val.uri.charAt(0).toUpperCase() + val.uri.slice(1)

      .col-xs-12.col-sm-9.col-md-8.col-lg-8.col-xs-offset-0.col-sm-offset-0.col-md-offset-0.col-lg-offset-0
        .table-responsive
          if languages
            //- table.table.table-hover.table-condensed
            table.table.table-hover
              thead
                tr
                  th #
                  th NAME
                  th ISO 639-1
              tbody
              each language, index in languages
                tr
                 td= language.id
                 td= language.name
                 td= language.iso['639']['1']
          
          if countries
            //- table.table.table-hover.table-condensed
            table.table.table-hover
              thead
                tr
                  th #
                  th FLAG
                  th NAME
                  th ISO 3166-1 ALPHA 2
              tbody
              each country, index in countries
                tr
                 td= country.id
                 td
                   div.f32
                     div.flag(class=country.iso['3166']['1']['alpha']['2'].toLowerCase())
                 td= country.name
                 td= country.iso['3166']['1']['alpha']['2']

          if currencies
            //- table.table.table-hover.table-condensed
            table.table.table-hover
              thead
                tr
                  th #
                  th NAME
                  th ISO 4217 CODE
                  th COUNTRY ISO 3166-1 ALPHA 2
                  th COUNTRY FLAG
              tbody
              each currency, index in currencies
                tr
                 td= currency.id
                 td= currency.name
                 td= currency.iso['4217'].code
                 td= currency.country.iso['3166']['1']['alpha']['2']
                 td
                   div.f32
                     div.flag(class=currency.country.iso['3166']['1']['alpha']['2'].toLowerCase())